.add-to-cart-btn {
  border: none;
  margin-top: 1rem;
  color: white;
  padding: 1rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.add-to-cart-btn-active {
  background-color: #1a1212;
  cursor: pointer;
}

.add-to-cart-btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
