.auth-container {
  padding: 55px;
  padding-top: 200px;
}

.auth-container__main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.auth-container__main__login,
.auth-container__main__sign-up {
  width: 40%;
  padding: 10px;
}

.auth-container__form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth-container__form-control label {
  font-size: 23px;
}

.auth-container__form-control input {
  padding: 15px;
  width: 90%;
  margin-top: 10px;
  outline: none;
}

.auth-container__form-control button {
  margin: 2rem 0;
  width: 100%;
}

@media (max-width: 768px) {
  .auth-container__main__login,
  .auth-container__main__sign-up {
    width: 100%;
    padding: 0;
  }
  .auth-container__form-control input {
    width: 100%;
  }
}
