.product-page-container {
  padding: 40px;
  margin: 0 0.25rem;
}

.spinner-div {
  height: 100vh;
  overflow-y: scroll;
}

.spinner-div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-page-container__info {
  display: flex;
  margin: 5rem auto;
  padding: 0.5rem;
  max-width: 1440px;
}

@media (max-width: 768px) {
  .product-page-container {
    padding: 0;
  }

  .project-page-container__info {
    display: block;
  }
}
