.products-list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    max-width: 1440px;
    margin: 3rem auto;
}

.product-list-container h1 {
    text-align: center;
    margin: 8rem 0 0;
}