@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/*  Jost  */
* {
  box-sizing: border-box;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #fcf8f3;
  color: #1a1212;
}

hr {
  height: 3px;
  background-color: #1a1212;
  border: none;
}

/* ============== custom classes */

.btn {
  padding: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #241c15;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #241c15;
  color: #241c15;
}
